.timerApp {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Bangers', cursive;
    color:#231A15;
  }
  
  .time {
    font-size: 3rem;
    padding: 2rem;
  }
  
  .button {
    padding: .6rem 1.5rem;
    margin: .4rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;   
    font-family: cursive;
    font-size: .8rem;
    border-style: groove;
    color:#231A15;
    background-color: #d4c592;
  }
  
  .button:focus {
    outline-width: 0;
  }
  
  .button-primary:hover {
    background-color: #ff9737;
    border: 1px solid #4d4c4c;
  }
  
  .button-primary-active {
    background-color: #ff9737;
    border: 1px solid #4d4c4c;
    color:#673c6d;
  }
  